<h2>Songs</h2>
<ul>
  {{#each song in model}}
    <li class="spec-playlist-item">{{song.name}}: {{song.artist}} <button {{action "addSongToPlaylist" song}}>+</button></li>
  {{/each}}
</ul>

<h2>Playlist</h2>
<ul>
  {{#each item in currentUser.playlist.playlistItems}}
    <li>{{item.song.name}}: {{item.song.artist}}
      <button {{action "removePlaylistItem" item}}>-</button>
    </li>
  {{/each}}
</ul>
{{outlet}}
